@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.products {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
}

.productsWrapper {
  display: flex;
  gap: rem(20px);
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  margin-bottom: rem(50px);
  height: 600px;
}

.slide {
  width: 100%;
  max-width: rem(300px);
}

.productBlock {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $input-bg;
  padding: 20px;
  border-radius: rem(181px);
  margin: 20px 0;
}

.shoesTitle {
  font-size: $thirdary-size;
  font-weight: 700;
  color: $light-black;
}

.navigationButtons {
  display: flex;
  align-items: center;
  gap: rem(20px);
}

.prevButton,
.nextButton {
  padding: 10px;
  font-weight: 600;
  border-radius: rem(20px);
  background: $light-black;
  color: $thirdary;
  &:hover {
    color: $light-black;
  }
}

.swiper__wrapper {
  gap: rem(90px);
}

@media screen and (max-width: rem(1050px)) {
  .swiper__wrapper {
    max-width: rem(1000px);
    gap: rem(20px);
  }
  .products {
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
  .shoesTitle {
    font-size: 1.5rem;
  }
  .nextButton,
  .prevButton {
    font-size: 0.6rem;
    padding: rem(7px);
  }
}

@media screen and (max-width: rem(600px)) {
  .swiper__wrapper {
    max-width: rem(600px);
  }
}
