@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.products {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
}

.productsWrapper {
  display: flex;
  gap: rem(20px);
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden;
  margin-bottom: rem(50px);
  height: 600px;
}

.slide {
  width: 300px;
}

.productBlock {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $input-bg;
  padding: 20px;
  border-radius: rem(181px);
  margin: 20px 0;
}

.shoesTitle {
  font-size: $thirdary-size;
  font-weight: 700;
  color: $light-black;
}

.navigationButtons {
  display: flex;
  align-items: center;
  gap: rem(20px);
}

.prevButton,
.nextButton {
  padding: 10px;
  font-weight: 600;
  border-radius: rem(20px);
  background: $light-black;
  color: $thirdary;
  &:hover {
    color: $light-black;
  }
}

.swiper__wrapper {
  gap: rem(70px);
}
