@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.socialContainer {
  width: 100%;
  max-width: rem(900px);
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}

.social__title {
  text-align: center;
  font-weight: 600;
  font-size: $primary-size;
}

.social__buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.withGoogle,
.withFacebook,
.withPhone {
  width: 100%;
  max-width: rem(400px);
  background: transparent;
  display: flex;
  align-items: center;
  gap: rem(8px);
  padding: rem(17px);
  border: 1.5px solid $light-black;
  border-radius: rem(36px);
  color: $light-black;
  font-weight: 600;
  font-size: $eight-size;
}

@media screen and (max-width: rem(700px)) {
  .social__buttons {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
