@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.burgerContainer {
  width: 100%;
  height: 100vh;
  background: $light-black;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.burgerContainer.active {
  transform: translateX(0);
}

.burgerNavigation__wrapper {
  display: flex;
  justify-content: center;
  margin-top: rem(30px);
  align-items: center;
  flex-direction: column;
  gap: rem(70px);
  flex-grow: 1;
  height: 100vh;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.burgerNavigation__wrapper.active {
  opacity: 1;
}

.burgerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-grow: 1;
}

.burger__menu {
  display: flex;
  flex-direction: column;
  gap: rem(30px);
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger__logo__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.listItem__link {
  text-decoration: none;
  color: $thirdary;
  font-size: $four-size;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.listItem__link:hover {
  color: lighten($thirdary, 10%);
}

.burger__copyright {
  display: block;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: $thirdary;
  margin-top: auto;
  border-top: 2px solid $thirdary;
}

.burger__logo {
  display: flex;
  align-items: center;
  padding: rem(20px);
  padding-bottom: 0;
}

.burgerLogo__title {
  color: $thirdary;
  font-weight: 700;
  font-size: $four-size;
}

.nav__signIn,
.nav__signUp {
  background: transparent;
}

.signIn,
.signUp {
  color: $thirdary;
  font-size: $four-size;
}

.nav__signIn {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.nav__signUp {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.nav__signIn:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

.nav__signUp:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

.nav__buttonsBlock {
  display: flex;
  align-items: center;
  gap: rem(30px);
}

.listItem__link:hover {
  color: lighten($thirdary, 10%);
  font-weight: bold;
  transform: scale(1.2);
  text-decoration: underline;
}

.burgerContainer,
.burgerNavigation__wrapper,
.burger__logo__wrapper,
.burger__logo,
.burger__copyright,
.nav__signIn,
.nav__signUp {
  color: $thirdary;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.burgerClosed__icon {
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: rem(450px)) {
  .nikeLogo {
    max-width: rem(70px);
    max-height: rem(70px);
  }
  .burger__logo__wrapper {
    gap: 1rem;
  }
  .burger__menu {
    gap: 5rem;
  }
}
