@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.contacts {
  min-height: 100vh;
}

.form__bannerContainer {
  display: flex;
  gap: rem(16px);
}

.contacts__title {
  font-size: $six-size;
  color: $light-black;
  font-weight: 500;
  padding-bottom: rem(40px);
  border-bottom: 2px solid $decoration-bottom;
}
