@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.heroTop__block {
  padding: rem(36px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search__blockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 48px;
  width: 487px;
  height: 56px;
  background: $fourth;
  padding: 16px 40px;
}

.hero__search {
  background: transparent;
  font-size: $primary-size;
  font-weight: 500;
  width: 487px;
  caret-color: $secondary;
  color: $secondary;
}

.hero__search::placeholder {
  color: $secondary;
  font-size: $primary-size;
  font-weight: 500;
}
