@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.slider {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.slide__img {
  width: 100%;
  cursor: grab;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider__circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16px);
}

.slider__circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.active {
  background: $primary;
}
