@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.sneakersContainer {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-items: center;
  justify-content: center;
  column-gap: 6rem;
  row-gap: 4rem;
}

.title {
  padding: 25px 0 40px 0;
  text-align: center;
  font-size: $thirdary-size;
  color: $light-black;
  font-weight: 500;
}
