@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.productCart {
  height: 540px;
  width: 290px;
  background: $thirdary;
  border-radius: rem(20px);
  box-shadow: rgba(0, 64, 128, 0.2) 2px 2px 5px 0px;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  &:hover {
    transform: scale(0.9);
  }
}

.productCart__container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.productImage {
  width: 290px;
  height: 300px;
  object-position: top;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.categoryBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.productCart__Info {
  padding-top: rem(20px);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: rem(10px);
}

.productCart__title {
  color: $light-black;
  padding-bottom: rem(10px);
  font-weight: 600;
  font-size: $five-size;
}

.productCart__price {
  font-size: $primary-size;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: rem(10px);
}

.productCart__productRating {
  font-weight: 600;
  font-size: $primary-size;
  display: flex;
  align-items: center;
  gap: rem(8px);
}

.productCart__style {
  font-weight: 500;
  color: $secondary;
}

.priceDiscount {
  text-decoration: line-through;
  color: $secondary;
  background: transparent;
}

.shopBtn {
  max-width: 200px;
  margin: 10px 20px;
  padding: rem(8px);
  border-radius: rem(20px);
  background: $light-black;
  color: $thirdary;
  font-weight: 600;
  &:hover {
    background: $yellow;
  }
}

.cardDiscount {
  position: relative;
  bottom: 280px;
  left: 200px;
  font-size: rem(14px);
  background: $light-black;
  font-weight: 600;
  padding: rem(6px);
  color: $thirdary;
  border-radius: rem(10px);
}
