@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.signUp {
  width: 100%;
  min-height: 100vh;
}

.form__bannerContainer {
  display: flex;
  gap: rem(16px);
}

.title {
  font-size: $six-size;
  color: $light-black;
  font-weight: 500;
  padding-bottom: rem(40px);
  border-bottom: 2px solid $decoration-bottom;
}


@media  screen and (max-width: rem(830px)) {
    .signUp {
      padding-left: rem(40px);
      padding-right: rem(40px);
    }
}