@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.empty__blockBg {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 50px;
  background: $light-black;
  padding-right: rem(40px);
  padding-left: rem(30px);
}

.decoration__line {
  position: relative;
}

.empty__links {
  display: flex;
  align-items: center;
  gap: rem(20px);
}

.decoration__line::before {
  content: '';
  position: absolute;
  display: block;
  left: 38px;
  bottom: -3.5px;
  width: 2px;
  border-radius: 10px;
  height: 20px;
  background: $thirdary;
}

.empty__link {
  font-weight: 500;
  color: $thirdary;
  transition: color 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    color: $secondary;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.header__active {
  background-color: $input-bg;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: $four-size;
  color: $light-black;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(1.1);
  }
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 10px 40px;
  padding-right: 0;
  margin: 0 auto;
}

.header__navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(32px);
}

.header__menu {
  display: flex;
  gap: rem(16px);
}

.active {
  color: $light-black;
  font-weight: 700;
}

.menu__listItem {
  color: $secondary;
  font-weight: 700;
  font-size: $primary-size;
  position: relative;
  transition: all 0.4s ease-in-out 0s;
  &:hover {
    color: $light-black;
  }
}

.menu__listItem::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: $light-black;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
    left 0.3s ease-in-out;
  transform: translateX(-50%);
}

.menu__listItem:hover::after {
  opacity: 1;
  width: 100%;
}

.nav__icon {
  width: 20px;
  height: 20px;
  background: transparent;
  position: relative;
}

.nav__icon > .counter__icon {
  position: absolute;
  top: -5px;
  right: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: #ffffff;
  font-weight: 700;
  background: rgba(23, 16, 16, 0.884);
  border-radius: 50%;
  font-size: 10px;
}

.nav__icons {
  display: flex;
  align-items: center;
  gap: $primary-size;
}

.nav__buttonsBlock {
  display: flex;
  align-items: center;
  gap: $primary-size;
}

.nav__signUp {
  padding: rem(14px) rem(18px);
  border: 2px solid $light-black;
  border-radius: rem(73px);
  background: transparent;
}

.nav__signIn {
  padding: rem(14px) rem(18px);
  border: 2px solid $light-black;
  border-radius: rem(73px);
  background: transparent;
}

.signIn {
  font-size: $secondary-size;
  font-weight: 700;
  color: $light-black;
}

.signUp {
  font-size: $secondary-size;
  font-weight: 700;
  color: $light-black;
}

.active__button {
  background: $light-black;
  color: $thirdary;
}

.active__link {
  color: $thirdary;
}

.signIn:active {
  color: $light-black;
}

.signUp:active {
  color: $light-black;
}

.navPanel {
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: rem(1050px)) {
  .header__menu {
    display: none;
  }
  .header__container {
    padding-right: rem(40px);
  }
  .nav__buttonsBlock {
    display: none;
  }
}

@media screen and (max-width: rem(515px)) {
  .header__navBar {
    display: none;
  }
}

@media screen and (max-width: rem(450px)) {
    .header__logo {
      font-size: $five-size;
    };
}