@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.footer {
  width: 100%;
  padding-top: rem(40px);
  background: $light-black;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: rem(80px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer__logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $thirdary;
  font-weight: normal;
  font-size: $four-size;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__form {
  width: 100%;
  max-width: 359px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  justify-content: space-between;
  background: $thirdary;
  border-radius: rem(48px);
}

.footer__input {
  padding: 16px 0px;
  color: $light-black;
  width: 200px;
  background: transparent;
}

.footer__input::placeholder {
  color: $gray;
  caret-color: $gray;
  font-weight: 500;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: rem(160px);
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.menu__title {
  font-size: $four-size;
  padding-bottom: 16px;
  color: $thirdary;
}

.menu__ListLink,
.menu__ListItem {
  width: fit-content;
  color: $secondary;
  display: flex;
  align-items: center;
  gap: rem(8px);
  position: relative;
  transition: all 0.4s ease-in-out 0s;
  &:hover {
    color: $thirdary;
  }
}

.menu__ListItem::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: $thirdary;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
    left 0.3s ease-in-out;
  transform: translateX(-50%);
}

.menu__ListItem:hover::after {
  opacity: 1;
  width: 100%;
}

.footer__copyright {
  padding: 32px 0;
  margin-top: rem(80px);
  text-align: center;
  color: $thirdary;
  font-size: $primary-size;
  background: $light;
}

@media screen and (max-width: rem(975px)) {
  .footer__nav {
    gap: 6rem;
    justify-content: space-between;
  }
  .menu__title {
    font-size: clamp(3rem, 1.3rem, 2rem);
  }
  .menu__ListLink {
    font-size: clamp(1rem, 1.1rem, 1.5rem);
  }
  #shortestTitle {
    font-size: 1rem;
  }
  .footer__logoContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: rem(750px)) {
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(35px) 0;
  }
  .footer__menu {
    max-width: rem(300px);
  }
  .menu__title {
    font-size: 1.5rem;
    padding-bottom: rem(8px);
  }
}

@media screen and (max-width: rem(450px)) {
  .footer__nav {
    grid-template-columns: repeat(1, 1fr);
  }
  .searchIcon {
    max-width: rem(25px);
    max-height: rem(25px);
  }
  .footer__input::placeholder {
    max-width: rem(77px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .footer__logo {
    gap: rem(16px);
  }
  .footer__copyright {
    font-size: 0.9rem;
  }
  .nikeLogo {
    max-width: rem(80px);
    max-height: rem(80px);
  }
  .footer__logoContainer {
    gap: rem(20px);
    align-items: center;
  }
}
