@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.sneakerProduct__container {
   display: flex;
   flex-direction: column;
   gap: rem(50px);
}