@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.sneakerContainer {
  display: flex;
  flex-direction: column;
  gap: rem(50px);
}

.sneakersFlex {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  gap: rem(40px);
  height: 100%;
  position: relative;
}

.sneakersNav__block {
  display: flex;
  align-items: center;
  gap: rem(8px);
}

.title {
  color: $secondary;
  display: flex;
  align-items: center;
  gap: rem(5px);
  font-weight: 500;
}

.titleActive {
  color: $light-black;
  font-weight: 600;
}

.sneakerImage {
  width: 100%;
  height: auto;
  object-fit: contain;

  border-radius: rem(20px);
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  &:hover {
    transform: scale(0.9);
  }
}

.sneakerImagesBlock {
  display: flex;
  gap: 50px;
  height: 100%;
  position: sticky;
  top: 0;
}

.smallImages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: rem(18px);
}

.smallImage {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  object-fit: cover;
  border-radius: rem(10px);
  box-shadow: 2px 2px 5px #00408033;
}

.categoryTitle {
  color: $light-black;
  display: flex;
  align-items: center;
  gap: rem(5px);
  font-weight: 600;
}

.active {
  border: 1px solid $gray;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.nextPrev__buttons {
  display: flex;
  align-items: center;
  gap: rem(10px);
  position: relative;
  bottom: 80px;
  left: 70%;
  max-width: 100px;
}

.btn {
  background: transparent;
  width: 40px;
  height: 40px;
  background: $thirdary;
  border-radius: 100%;
}

@media screen and (min-width: rem(1440px)) {
  .sneakerImagesBlock {
    gap: 5rem;
  }
}

@media screen and (max-width: rem(1050px)) {
  .sneakersFlex {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }
  .sneakerImagesBlock {
    position: static;
    justify-content: space-around;
  }
  .sneakerContainer {
    padding-left: rem(30px);
    padding-right: rem(30px);
  }
}

@media screen and (max-width: rem(1100px)) {
  .sneakersNav__block {
    flex-wrap: wrap;
  }
  .smallImage {
    max-width: rem(80px);
    max-height: rem(80px);
  }
  .sneakerImagesBlock {
    gap: rem(20px);
  }
}

@media screen and (max-width: rem(990px)) {
  .sneakersFlex {
    grid-template-columns: repeat(1, minmax(50%, 1fr));
  }
}

@media screen and (max-width: rem(550px)) {
  .nextPrev__buttons {
    display: none;
  }
  .sneakerImagesBlock {
    flex-direction: column-reverse;
  }
  .smallImages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}
