@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.sneakerContainer {
  display: flex;
  flex-direction: column;
  gap: rem(50px);
}

.sneakersFlex {
  display: flex;
  gap: rem(40px);
}

.sneakersNav__block {
  display: flex;
  align-items: center;
  gap: rem(8px);
}

.title {
  color: $secondary;
  display: flex;
  align-items: center;
  gap: rem(5px);
  font-weight: 500;
}

.titleActive {
  color: $light-black;
  font-weight: 600;
}

.sneakerImage {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: rem(20px);
  cursor: pointer;
  width: auto;
  height: auto;
}

.sneakerImagesBlock {
  display: flex;
  gap: rem(50px);
}

.smallImages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: rem(18px);
}

.smallImage {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  border-radius: rem(10px);
  box-shadow: 2px 2px 5px #00408033;
}


.categoryTitle {
  color: $light-black;
  display: flex;
  align-items: center;
  gap: rem(5px);
  font-weight: 600;
}

.active {
  opacity: 0.7;
  border: 2px solid $gray;
}

.nextPrev__buttons {
  display: flex;
  align-items: center;
  gap: rem(10px);
  position: relative;
  bottom: 60px;
  left: 75%;
  max-width: 100px;
}

.btn {
  background: transparent;
  width: 40px;
  height: 40px;
  background: $thirdary;
  border-radius: 100%;
}
