@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.productInfo {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  width: 100%;
}

.productDiscount {
  display: flex;
  align-items: center;
  gap: rem(5px);
  padding: rem(10px);
  color: $thirdary;
  font-size: $primary-size;
  background: $light-black;
  opacity: 0.9;
  max-width: rem(135px);
  border-radius: rem(10px);
  font-weight: 600;
}

.productDiscount::after {
  content: '%';
  font-weight: 700;
}

.discountTitle {
  font-weight: 600;
}

.sneakerTitle {
  font-weight: 700;
  font-size: $primary-info-title;
}

.infoDiscount__title {
  text-decoration: line-through;
  font-weight: 600;
  font-size: $five-size;
  color: $gray;
}

.priceTitle {
  font-weight: 700;
  font-size: $five-size;
  color: $light-black;
}

.categoryTitle {
  font-weight: 500;
  font-size: $primary-info-category;
}

.productSize__container {
  margin-top: rem(20px);
  display: grid;
  grid-template-columns: repeat(3, fit-content(300px));
  grid-template-rows: auto;
  gap: rem(18px);
}

.sizeBtn {
  width: 100%;
  max-width: rem(160px);
  height: 50px;
  padding: rem(8px);
  background: $light-black;
  color: $thirdary;
  font-weight: 500;
  border-radius: rem(5px);
}

.activeSize {
  background: $thirdary;
  color: $deep-black;
  font-weight: 500;
  border: 2px solid $gray;
}

.selectSize {
  font-weight: 600;
  color: $gray;
  font-size: $five-size;
}

.markSize {
  background: none;
}

.about {
  width: 100%;
  line-height: 150%;
  text-align: justify;
  font-weight: 400;
  font-size: $primary-info-about;
}

.about__blockTitle {
  font-weight: 500;
  color: $light-black;
  font-size: $four-size;
  margin-bottom: rem(10px);
  padding-bottom: rem(8px);
  line-height: 120%;
  border-bottom: 1.5px solid $light-black;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  margin-left: rem(15px);
  margin-top: rem(20px);
}

.about__listItem {
  list-style-type: disc;
  font-weight: 500;
  font-size: $primary-info-about;
  line-height: 120%;
}

.about__block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productButtons__block {
  margin-top: rem(10px);
  display: flex;
  align-items: center;
  gap: rem(100px);
}

.shoppingCart {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: relative;
  left: -40px;
}

.shopBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8px);
  max-width: 200px;
  padding: rem(8px);
  border-radius: rem(20px);
  background: $light-black;
  color: $thirdary;
  font-weight: 600;
  transition: background 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    background: $yellow;
  }
}

.addBtn {
  width: 100%;
  background: $gray;
  border-radius: rem(5px);
  height: rem(45px);
  max-width: rem(250px);
  color: $thirdary;
  font-size: $primary-info-about;
}

@media screen and (min-width: rem(1440px)) {
  .productInfo {
    max-width: 80%;
  }
}

@media screen and (max-width: rem(1440px)) {
  .productInfo {
    max-width: rem(500px);
  }
}

@media screen and (max-width: rem(600px)) {
  .sneakerTitle {
    font-size: 1.6em;
  }
  .productSize__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .productInfo {
    gap: 2rem;
  }
  .about__blockTitle {
    text-align: center;
    font-weight: 700;
  }
  .productSize__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
}
