@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globals.scss';
@import '../../../assets/styles/functions.scss';

.productInfo {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.productDiscount {
  display: flex;
  align-items: center;
  gap: rem(5px);
  padding: rem(10px);
  color: $thirdary;
  background: $light-black;
  opacity: 0.9;
  max-width: 140px;
  border-radius: rem(20px);
  font-weight: 600;
}

.productDiscount::after {
  content: '%';
  font-weight: 700;
}

.discountTitle {
  font-weight: 600;
}

.sneakerTitle {
  font-weight: 700;
  font-size: $thirdary-size;
}

.infoDiscount__title {
  text-decoration: line-through;
  font-weight: 600;
  font-size: $four-size;
}

.priceTitle {
  font-weight: 700;
  font-size: $six-size;
}

.categoryTitle {
  font-weight: 500;
  font-size: $five-size;
}

.productSize__container {
  margin-top: rem(20px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: rem(10px);
}

.sizeBtn {
  width: 120px;
  height: 50px;
  padding: rem(8px);
  background: $thirdary;
  color: $light-black;
  box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
  font-weight: 500;
  border-radius: rem(5px);
}

.activeSize {
  background: $thirdary;
  color: $deep-black;
  border: 2px solid $light-black;
}

.selectSize {
  font-weight: 600;
  color: $gray;
  font-size: $four-size;
}

.markSize {
  background: none;
}

.about {
  line-height: 1.85;
  text-align: justify;
  font-weight: 400;
  font-size: $five-size;
  max-width: 400px;
}

.about__blockTitle {
  font-weight: 500;
  color: $light-black;
  font-size: $six-size;
  margin-bottom: rem(10px);
  padding-bottom: rem(8px);
  line-height: 120%;
  border-bottom: 1.5px solid $light-black;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  margin-left: rem(15px);
  margin-top: rem(20px);
}

.about__listItem {
  list-style-type: disc;
  font-weight: 500;
  font-size: $five-size;
}
