$primary: #1f3e97;
$secondary: #858585;
$thirdary: #ffffff;
$fourth: #f1f1f1;
$input-bg: #f4f4f4;
$yellow: #ffb800;
$gray: #464646;
$footer-menu: #18378f;
$active-color: #1f3d97d0;
$decoration-bottom: #d9d9d9;
$deep-black: #000;
$light-black: #111111;
$light: rgba(0, 0, 0, 0.5);
$discount-color: rgba(199, 53, 8, 0.899);
