@import './functions.scss';

$primary-size: rem(16px);
$secondary-size: rem(14px);
$thirdary-size: rem(40px);
$four-size: rem(24px);
$five-size: rem(20px);
$six-size: rem(32px);
$seven-size: rem(12px);
$eight-size: rem(15px);
$ten-size: rem(50px);
