@import '../styles/functions.scss';

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 40px;
  margin-top: 150px;
}

@media screen and (max-width: rem(820px)) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}
