@import '../../assets/styles/colors.scss';
@import '../../assets/styles/globals.scss';
@import '../../assets/styles/functions.scss';

.favorite__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: rem(40px);
  margin-top: rem(50px);
}

.favorite__title {
  font-size: $thirdary-size;
  font-weight: 600;
  color: $light-black;
  margin-bottom: rem(20px);
  padding-bottom: 1rem;
  border-bottom: 2px solid #d9d9d9;
}

.favorite__subTitle {
  display: flex;
  align-items: center;
  font-size: $thirdary-size;
  font-weight: 700;
  color: $light-black;
}

.itemsCounter {
  color: $light-black;
  font-size: $six-size;
  font-weight: 500;
}

.counter__marker {
  color: $gray;
}

.favorite,
.shoppingCartContainer {
  min-height: 100vh;
  padding-left: rem(30px);
  padding-right: rem(30px);
}

.cart__container {
  margin-top: rem(30px);
  display: flex;
  flex-direction: column;
  gap: rem(40px);
}

@media screen and (max-width: rem(1070px)) {
  
}
